<%-include('./inc/header');%>
<div class="container-fluid">
    <div class="row">
      <div class="col-md-6 ml-auto mr-auto">
        <div class="card card-upgrade">
          <div class="card-header text-center border-bottom-0">
            <h4 class="card-title">Card Details</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive table-upgrade">
              <table class="table">
                <tbody>
                    <%if(card.length>0){%>
                  <tr>
                    <td>Name</td>
                    <td class="text-center"><b><%=card[0].name%></b></td>
                  </tr>
                  <tr>
                    <td>Card Number</td>
                    <td class="text-center"><b><%=card[0].number%></b></td>
                  </tr>
                  <tr>
                    <td>Card Type</td>
                    <td class="text-center"><b><%=card[0].type%></b></td>
                  </tr>
                  <tr>
                    <td>Expiry Date</td>
                    <td class="text-center"><b><%=card[0].expiry_date%></b></td>
                  </tr>
                  <tr>
                    <td>CVV</td>
                    <td class="text-center"><b><%=card[0].cvv%></b></td>
                  </tr>
                  <%}else{%>
                    <tr>
                        <td colspan="2">Card details not  found</td>
                      </tr>
                    <%}%>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <footer class="footer pt-0">
      <div class="row align-items-center justify-content-lg-between">
        <div class="col-lg-6">
          <div class="copyright text-center  text-lg-left  text-muted">
            &copy; 2020 <a href="https://www.creative-tim.com" class="font-weight-bold ml-1" target="_blank">Creative Tim</a>
          </div>
        </div>
        <div class="col-lg-6">
          <ul class="nav nav-footer justify-content-center justify-content-lg-end">
            <li class="nav-item">
              <a href="https://www.creative-tim.com" class="nav-link" target="_blank">Creative Tim</a>
            </li>
            <li class="nav-item">
              <a href="https://www.creative-tim.com/presentation" class="nav-link" target="_blank">About Us</a>
            </li>
            <li class="nav-item">
              <a href="http://blog.creative-tim.com" class="nav-link" target="_blank">Blog</a>
            </li>
            <li class="nav-item">
              <a href="https://github.com/creativetimofficial/argon-dashboard/blob/master/LICENSE.md" class="nav-link" target="_blank">MIT License</a>
            </li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
<%-include('./inc/footer');%>