<%-include('includes/header')%>
    <style>
        .home-banner-area.home-style-three .search-form {
            bottom: 125px;
        }
        
        .home-banner-area.home-style-three .search-form {
            position: absolute;
        }

        
        .select2 .select2-selection
        {
            background-color: transparent;
        }

        .home-banner-area .search-form .select-box i
        {
            z-index: 0;
        }

        .home-banner-area .search-form .select-box label.custom-label{
            position: absolute;
                right: 0;
                top: 26px;
                cursor:pointer;
            }
        

    </style>
    <div id="home" id="section1" class="section home-banner-area home-style-three">
        <div class="container-fluid p-0">
            <div class="banner-slider-three owl-carousel">
                <div class="slider-item item-four">
                    <div class="container text-center">
                        <div class="banner-content">
                            <h1>
                                Book The Best Travel Deals Online Or Via Text!
                            </h1>
                            <!-- <span class="sub-title">Work with agents one on one via sms, email, phone call, and Facebook Messenger</span> -->
                            <p class="first-text">
                                <!-- Work with agents one on one via sms, email, phone call, and Facebook Messenger -->
                                Real Agents. Real Easy. Real Savings.
                            </p>
                            <p class="second-text">
                                <!-- Save up to 70% on airfare and hotels around the world -->
                                Text or Call Us @ 555-555-5555
                            </p>
                            <!-- <a href="destination-details.html" class="btn-primary">Destinations</a> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="search-form">
                <%-include('includes/hotel-search-form')%>
            </div>
        </div>
    </div>


    <section id="lastOffer" id="about" id="section2" class="section last-offer-section about-section about-style-three pt-100 pb-70 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center ">
                    <div class="section-title">
                        <h2>How it works</h2>
                        <!-- <p>Booking a hotel is now as easy as messaging a friend. Use Snaptravel over Facebook Messenger or SMS.</p> -->
                    </div>
                    <img src="<%=base_url%>assets/img/featured/infographics.svg" style="width: 42em">
                </div>
                <div class="col-lg-12 pt-100">
                    
                    <div class="row">
                        <div class="col-lg-6 col-md-6 filtr-item">
                            <div class="item-single mb-30">
                                <!-- <div class="image">
                                <img src="<%=base_url%>assets/img/destination1.jpg" alt="Demo Image">
                            </div> -->
                                <div class="content">
                                    <span class="location"><i class='bx bx-search'></i></span>
                                    <!-- <h3>
                                    Easy Search
                                </h3> -->
                                    <div class="review" style="line-height: 1;padding-top: 10px;">
                                        <!--  <i class='bx bx-smile'></i>
                                    <span>8.5</span> -->
                                        <span> If you don't want to book on Monder's Search Engine, text us your trip details instead!</span>
                                    </div>
                                    <!-- <p>
                                    A wonderful little cottage right on the seashore - perfect for exploring.
                                </p>
                                <hr>
                                <ul class="list">
                                    <li><i class='bx bx-time'></i>3 Days</li>
                                    <li><i class='bx bx-group'></i>160+</li>
                                    <li>$500</li>
                                </ul> -->
                                    <div class="discount">
                                        <span>1</span>
                                        <!-- <span>10%</span> -->
                                    </div>
                                </div>
                                <div class="spacer"></div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 filtr-item">
                            <div class="item-single mb-30">
                                <!-- <div class="image">
                                <img src="<%=base_url%>assets/img/destination2.jpg" alt="Demo Image">
                            </div> -->
                                <div class="content">
                                    <span class="location"><i class='bx bxs-offer'></i></span>
                                    <!--  <h3>
                                     Get Deal
                                </h3> -->
                                    <div class="review" style="line-height: 1;padding-top: 10px;">
                                        <!-- <i class='bx bx-smile'></i> -->
                                        <!-- <span>9</span> -->
                                        <span>Our experienced agents will quickly run the best searches and message you back within minutes.</span>
                                    </div>
                                    <!-- <p>
                                    A wonderful little cottage right on the seashore - perfect for exploring.
                                </p>
                                <hr>
                                <ul class="list">
                                    <li><i class='bx bx-time'></i>7 Days</li>
                                    <li><i class='bx bx-group'></i>65+</li>
                                    <li>$2000</li>
                                </ul> -->
                                    <div class="discount">
                                        <span>2</span>
                                        <!-- <span>30%</span> -->
                                    </div>
                                </div>
                                <div class="spacer"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="shape shape-1"><img src="<%=base_url%>assets/img/shape1.png" alt="Background Shape"></div>
        <div class="shape shape-2"><img src="<%=base_url%>assets/img/shape2.png" alt="Background Shape"></div>
        <div class="shape shape-3"><img src="<%=base_url%>assets/img/shape3.png" alt="Background Shape"></div>
        <div class="shape shape-4"><img src="<%=base_url%>assets/img/shape4.png" alt="Background Shape"></div>
    </section>


    <section id="section3" class="section features-section pt-100 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="item-single mb-30">
                        <img src="<%=base_url%>assets/img/featured/expert.png" alt="experts">
                        <h3>Work With Experts</h3>
                        <p>We'll help book you the best airlines and hotels at the best discounted rates. From requesting a seat change to making last minute changes to your reservations, we're just a text message or call away.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="item-single mb-30">
                        <img src="<%=base_url%>assets/img/featured/support.png" alt="support">
                        <!-- <i class='bx bx-time'></i> -->
                        <h3>Live Support</h3>
                        <p>Here at Monder we don't believe in waiting on long hold times. Call or text us at any hour. We're here for you 24/7.</p><br>
                        <!-- <div class="cta-btn">
                        <a href="#" class="btn-primary">Read More</a>
                    </div> -->
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 m-auto">
                    <div class="item-single mb-30">
                        <img src="<%=base_url%>assets/img/featured/cancel.png" alt="cancel">
                        <!-- <i class='bx bxs-plane-take-off'></i> -->
                        <h3>24 Hour Cancellation</h3>
                        <p>We understand if you need to cancel your trip. Call, text or email your agent within 24 hours of your booking and we'll make sure you're fully refunded.</p><br>
                        <!-- <div class="cta-btn">
                        <a href="#" class="btn-primary">Read More</a>
                    </div> -->
                    </div>
                </div>
            </div>
        </div>
    </section>





    <section id="section4" id="testimonial" class="section testimonial-section ptb-100">
        <div class="container">
            <div class="section-title">
                <h2>What're Our Clients Say</h2>
                <p>Travel has helped us to understand the meaning of life and it has helped us become better people. Each time we travel, we see the world with new eyes.</p>
            </div>
            <div class="row">
                <div class="col-lg-8 m-auto">
                    <div class="testimonial-slider owl-carousel">
                        <div class="slider-item">
                            <div class="client-img">
                                <img src="<%=base_url%>assets/img/client1.jpg" alt="client-1" />
                            </div>
                            <div class="content">
                                <div class="client-info">
                                    <h3>Jordan Alin</h3>
                                    <span>Bloger & Youtuber</span>
                                </div>
                                <div class="quote">
                                    <i class='bx bxs-quote-left'></i>
                                </div>
                                <p style="font-size:12px;">
                                    The Personal Travel Agents Academy is a 12-month training programme allowing anyone with no previous travel experience to start their own travel business. This is an advanced course to help build knowledge in travel and develop sales skills.
                                </p>
                                <div class="review">
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                </div>
                            </div>
                        </div>
                        <div class="slider-item">
                            <div class="client-img">
                                <img src="<%=base_url%>assets/img/client2.jpg" alt="client-1" />
                            </div>
                            <div class="content">
                                <div class="client-info mb-30">
                                    <h3>David Milan</h3>
                                    <span>Photographer</span>
                                </div>
                                <div class="quote">
                                    <i class='bx bxs-quote-left'></i>
                                </div>
                                <p style="font-size:12px;">
                                    The Personal Travel Agents Academy is a 12-month training programme allowing anyone with no previous travel experience to start their own travel business. This is an advanced course to help build knowledge in travel and develop sales skills.
                                </p>
                                <div class="review mt-15">
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                </div>
                            </div>
                        </div>
                        <div class="slider-item">
                            <div class="client-img">
                                <img src="<%=base_url%>assets/img/client3.jpg" alt="client-1" />
                            </div>
                            <div class="content">
                                <div class="client-info mb-30">
                                    <h3>Thomas Alva</h3>
                                    <span>Journalist</span>
                                </div>
                                <div class="quote">
                                    <i class='bx bxs-quote-left'></i>
                                </div>
                                <p style="font-size:12px;">
                                    The Personal Travel Agents Academy is a 12-month training programme allowing anyone with no previous travel experience to start their own travel business. This is an advanced course to help build knowledge in travel and develop sales skills.
                                </p>
                                <div class="review mt-15">
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='clients-img'>
                <img class="image image-1" src="<%=base_url%>assets/img/client1.jpg" alt="Demo Image">
                <img class="image image-2" src="<%=base_url%>assets/img/client2.jpg" alt="Demo Image">
                <img class="image image-3" src="<%=base_url%>assets/img/client3.jpg" alt="Demo Image">
                <img class="image image-4" src="<%=base_url%>assets/img/client4.jpg" alt="Demo Image">
                <img class="image image-5" src="<%=base_url%>assets/img/client5.jpg" alt="Demo Image">
            </div>
        </div>
        <div class="shape">
            <img src="<%=base_url%>assets/img/shape1.png" alt="Background Shape">
        </div>
    </section>





    <section id="team" id="section5" class="section team-section ptb-100 bg-light">
        <div class="container">
            <div class="section-title">
                <h2>PARTNERS</h2>
                <!-- <p>Travel has helped us to understand the meaning of life and it has helped us become better people. Each time we travel, we see the world with new eyes.</p> -->
            </div>
            <div class="row">
                <div class=" col-lg-4 col-sm-6 col-md-6">
                    <div class="item-single mb-30">
                        <div class="image">
                            <img src="<%=base_url%>assets/img/featured/p1.png" alt="Demo Image" style="padding:30px">
                        </div>
                    </div>
                </div>
                <div class=" col-lg-4 col-sm-6 col-md-6">
                    <div class="item-single mb-30">
                        <div class="image" style="text-align: center;">
                            <img src="<%=base_url%>assets/img/featured/p2.png" alt="Demo Image" style="padding:30px">
                        </div>
                    </div>
                </div>
                <div class=" col-lg-4 col-sm-6 col-md-6">
                    <div class="item-single mb-30">
                        <div class="image">
                            <img src="<%=base_url%>assets/img/featured/p3.png" alt="Demo Image" style="padding:30px">
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <%-include('includes/footer')%>


        <script>
            // hotel search functionality
            $("#hotel-search-cities").select2({
                tags: false,
                multiple: false,
                tokenSeparators: [',', ' '],
                minimumInputLength: 1,
                minimumResultsForSearch: 20,

                ajax: {
                    url: base_url + 'search-IATA',
                    dataType: "json",
                    type: "POST",
                    data: function(params) {
                        var queryParameters = {
                            keyword: params.term
                        }
                        return queryParameters;
                    },
                    processResults: function(data) {
                        return {
                            results: $.map(data.data, function(item) {
                                return {
                                    text: `(${item.code}), ${item.cityName} ${item.countryName}`,
                                    id: item.code
                                }
                            })
                        };
                    }
                }
            });

            function serchIATA(val) {
                $.ajax({
                    type: "POST",
                    url: base_url + "search-IATA",
                    data: {
                        "keyword": val
                    },
                    success: function(data) {
                        if (data.res == true) {
                            let html = ``
                            data.data.forEach(element => {
                                html += `<li class="list-group-item">(` + element.code + `) ` + element.countryName + ` - ` + element.name + `</li>`
                            });
                            $('.search-dropdown').empty()
                            $('.search-dropdown').html(html)
                        } else {

                        }
                    }
                });
            }






            function serch_city_IATA(val, self) {
                // alert('function called');
                $.ajax({
                    type: "POST",
                    url: base_url + "search-IATA",
                    data: {
                        "keyword": val
                    },
                    success: function(data) {
                        if (data.res == true) {
                            let option = `<option data-display='Destination'>Search Locations</option>`;
                            let html = `<option data-display='Destination'>Search Locations</option>`;
                            data.data.forEach(element => {
                                html += `<li class="list-group-item">(` + element.code + `) ` + element.countryName + ` - ` + element.name + `</li>`
                                option = `<option value="${element.code}"> ${element.name} ${element.countryName} (${element.code}) </option>`;
                            });
                        } else {

                        }
                    }
                });
            }
        </script>